In [2]:
import pandas as pd
from pymongo import MongoClient

In [2]:
client= MongoClient('mongo', 27017, username='admin', password='DataMan2019!')

In [6]:
db = list(client.dbintegrato.db_avgscore.find())
tweets = pd.DataFrame(db)
tweets.drop(['_id'], axis=1, inplace= True)
tweets.head()

,show_id,type,title,director,cast,country,rating,duration,Certificate,Runtime_of_Episodes,Genre,IMDB_Rating,No_of_Votes,tweet,avg_score
0,s1026,TV Show,BoJack Horseman,None,"Will Arnett, Aaron Paul, Amy Sedaris, Alison B...",United States,TV-MA,6 Seasons,18+,25 min,"Animation, Comedy, Drama",8.7,113345,"[{'_id': '60dae6af60d63d1fa250cb25', 'text': '...",0.046250
1,s1052,TV Show,Borgen,None,"Sidse Babett Knudsen, Birgitte Hjort Sørensen,...",Denmark,TV-MA,3 Seasons,16,58 min,Drama,8.5,19655,"[{'_id': '60dae6af60d63d1fa2508b1a', 'text': '...",0.151000
2,s1090,TV Show,Breaking Bad,None,"Bryan Cranston, Aaron Paul, Anna Gunn, Dean No...",United States,TV-MA,5 Seasons,18,49 min,"Crime, Drama, Thriller",9.5,1468887,"[{'_id': '60dae6af60d63d1fa250880f', 'text': '...",-0.357091
3,s1101,TV Show,Bridgerton,None,"Adjoa Andoh, Julie Andrews, Lorraine Ashbourne...",United States,TV-MA,1 Season,18,60 min,"Drama, Romance",7.3,61224,"[{'_id': '60dae6af60d63d1fa2511865', 'text': '...",-0.012000
4,s1109,TV Show,Broadchurch,None,"David Tennant, Olivia Colman, Andrew Buchan, J...",United Kingdom,TV-MA,3 Seasons,16,48 min,"Crime, Drama, Mystery",8.4,94525,"[{'_id': '60dae6b260d63d1fa256a336', 'text': '...",0.206000

In [22]:
from sklearn.preprocessing import StandardScaler

Effettuo una copia delle 2 colonne per la successiva lavorazione.

In [23]:
tweets['IMDB_Rating_std'] = tweets['IMDB_Rating']
tweets['avg_score_std'] = tweets['avg_score']
tweets.head()

,show_id,type,title,director,cast,country,rating,duration,Certificate,Runtime_of_Episodes,Genre,IMDB_Rating,No_of_Votes,tweet,avg_score,IMDB_Rating_std,avg_score_std
0,s1026,TV Show,BoJack Horseman,None,"Will Arnett, Aaron Paul, Amy Sedaris, Alison B...",United States,TV-MA,6 Seasons,18+,25 min,"Animation, Comedy, Drama",8.7,113345,"[{'_id': '60dae6af60d63d1fa250cb25', 'text': '...",0.046250,8.7,0.046250
1,s1052,TV Show,Borgen,None,"Sidse Babett Knudsen, Birgitte Hjort Sørensen,...",Denmark,TV-MA,3 Seasons,16,58 min,Drama,8.5,19655,"[{'_id': '60dae6af60d63d1fa2508b1a', 'text': '...",0.151000,8.5,0.151000
2,s1090,TV Show,Breaking Bad,None,"Bryan Cranston, Aaron Paul, Anna Gunn, Dean No...",United States,TV-MA,5 Seasons,18,49 min,"Crime, Drama, Thriller",9.5,1468887,"[{'_id': '60dae6af60d63d1fa250880f', 'text': '...",-0.357091,9.5,-0.357091
3,s1101,TV Show,Bridgerton,None,"Adjoa Andoh, Julie Andrews, Lorraine Ashbourne...",United States,TV-MA,1 Season,18,60 min,"Drama, Romance",7.3,61224,"[{'_id': '60dae6af60d63d1fa2511865', 'text': '...",-0.012000,7.3,-0.012000
4,s1109,TV Show,Broadchurch,None,"David Tennant, Olivia Colman, Andrew Buchan, J...",United Kingdom,TV-MA,3 Seasons,16,48 min,"Crime, Drama, Mystery",8.4,94525,"[{'_id': '60dae6b260d63d1fa256a336', 'text': '...",0.206000,8.4,0.206000

Standardizzo entrambe le colonne così da renderle confrontabili senza distorsioni dovute alla scala di valori.

In [24]:
tweets[['IMDB_Rating_std','avg_score_std']] = StandardScaler().fit_transform(tweets[['IMDB_Rating_std', 'avg_score_std']])
tweets.head()

,show_id,type,title,director,cast,country,rating,duration,Certificate,Runtime_of_Episodes,Genre,IMDB_Rating,No_of_Votes,tweet,avg_score,IMDB_Rating_std,avg_score_std
0,s1026,TV Show,BoJack Horseman,None,"Will Arnett, Aaron Paul, Amy Sedaris, Alison B...",United States,TV-MA,6 Seasons,18+,25 min,"Animation, Comedy, Drama",8.7,113345,"[{'_id': '60dae6af60d63d1fa250cb25', 'text': '...",0.046250,1.151325,0.110309
1,s1052,TV Show,Borgen,None,"Sidse Babett Knudsen, Birgitte Hjort Sørensen,...",Denmark,TV-MA,3 Seasons,16,58 min,Drama,8.5,19655,"[{'_id': '60dae6af60d63d1fa2508b1a', 'text': '...",0.151000,0.928795,0.631056
2,s1090,TV Show,Breaking Bad,None,"Bryan Cranston, Aaron Paul, Anna Gunn, Dean No...",United States,TV-MA,5 Seasons,18,49 min,"Crime, Drama, Thriller",9.5,1468887,"[{'_id': '60dae6af60d63d1fa250880f', 'text': '...",-0.357091,2.041448,-1.894832
3,s1101,TV Show,Bridgerton,None,"Adjoa Andoh, Julie Andrews, Lorraine Ashbourne...",United States,TV-MA,1 Season,18,60 min,"Drama, Romance",7.3,61224,"[{'_id': '60dae6af60d63d1fa2511865', 'text': '...",-0.012000,-0.406390,-0.179270
4,s1109,TV Show,Broadchurch,None,"David Tennant, Olivia Colman, Andrew Buchan, J...",United Kingdom,TV-MA,3 Seasons,16,48 min,"Crime, Drama, Mystery",8.4,94525,"[{'_id': '60dae6b260d63d1fa256a336', 'text': '...",0.206000,0.817529,0.904479

Verifico che la standardizzazione sia andata a buon fine:
dovrebbero risultare per entrambe le colonne media 0 e deviazione standard 1

In [25]:
tweets[['IMDB_Rating_std','avg_score_std']].mean(axis = 0)
#media delle due colonne circa 0

IMDB_Rating_std    2.514926e-16
avg_score_std      4.467971e-17
dtype: float64

In [26]:
tweets[['IMDB_Rating_std','avg_score_std']].std(axis = 0)
#deviazione standard delle due colonne circa 1

IMDB_Rating_std    1.003063
avg_score_std      1.003063
dtype: float64

Creo una colonna che metta in mostra la differenza tra i due rating per ogni film

In [27]:
tweets['diff_std_rating'] = tweets['IMDB_Rating_std'] - tweets['avg_score_std']
tweets.head()
#in quelli positivi IMDB RATING è maggiore
#in quelli negativ IMDB RATING è minore

,show_id,type,title,director,cast,country,rating,duration,Certificate,Runtime_of_Episodes,Genre,IMDB_Rating,No_of_Votes,tweet,avg_score,IMDB_Rating_std,avg_score_std,diff_std_rating
0,s1026,TV Show,BoJack Horseman,None,"Will Arnett, Aaron Paul, Amy Sedaris, Alison B...",United States,TV-MA,6 Seasons,18+,25 min,"Animation, Comedy, Drama",8.7,113345,"[{'_id': '60dae6af60d63d1fa250cb25', 'text': '...",0.046250,1.151325,0.110309,1.041016
1,s1052,TV Show,Borgen,None,"Sidse Babett Knudsen, Birgitte Hjort Sørensen,...",Denmark,TV-MA,3 Seasons,16,58 min,Drama,8.5,19655,"[{'_id': '60dae6af60d63d1fa2508b1a', 'text': '...",0.151000,0.928795,0.631056,0.297739
2,s1090,TV Show,Breaking Bad,None,"Bryan Cranston, Aaron Paul, Anna Gunn, Dean No...",United States,TV-MA,5 Seasons,18,49 min,"Crime, Drama, Thriller",9.5,1468887,"[{'_id': '60dae6af60d63d1fa250880f', 'text': '...",-0.357091,2.041448,-1.894832,3.936280
3,s1101,TV Show,Bridgerton,None,"Adjoa Andoh, Julie Andrews, Lorraine Ashbourne...",United States,TV-MA,1 Season,18,60 min,"Drama, Romance",7.3,61224,"[{'_id': '60dae6af60d63d1fa2511865', 'text': '...",-0.012000,-0.406390,-0.179270,-0.227120
4,s1109,TV Show,Broadchurch,None,"David Tennant, Olivia Colman, Andrew Buchan, J...",United Kingdom,TV-MA,3 Seasons,16,48 min,"Crime, Drama, Mystery",8.4,94525,"[{'_id': '60dae6b260d63d1fa256a336', 'text': '...",0.206000,0.817529,0.904479,-0.086949

In [28]:
tweets[['title','IMDB_Rating_std','avg_score_std','diff_std_rating']]
#le 3 colonne sono standardizzate, l'ultima rappresenta la differenza tra i due rating per ogni film

               title  IMDB_Rating_std  avg_score_std  diff_std_rating
0    BoJack Horseman         1.151325       0.110309         1.041016
1             Borgen         0.928795       0.631056         0.297739
2       Breaking Bad         2.041448      -1.894832         3.936280
3         Bridgerton        -0.406390      -0.179270        -0.227120
4        Broadchurch         0.817529       0.904479        -0.086949
..               ...              ...            ...              ...
159        Big Mouth         0.372468      -0.777486         1.149954
160           Bitten        -0.740186      -0.572005        -0.168181
161  Black Lightning        -1.741575       0.047919        -1.789494
162     Black Mirror         1.262591       0.198306         1.064284
163        Bloodline         0.372468       0.581343        -0.208875

[164 rows x 4 columns]

# Analisi dei generi

Il genere mediamente più apprezzato in entrambi i rating sembra essere Drama seguito da Adventure e Comedy.

Mostro la top 10 dei generi secondo la sentiment media dei tweet.

In [29]:
IMDB_Genre = tweets.groupby('Genre')[['IMDB_Rating_std','avg_score_std']].mean()
IMDB_Genre.sort_values(by=['avg_score_std'], ascending=False).head(10)

                              IMDB_Rating_std  avg_score_std
Genre
Comedy, Drama, Music                -1.073982       2.258776
Animation, Adventure, Drama          0.817529       1.948457
Adventure, Comedy, Fantasy           0.483733       1.878858
Comedy, Drama, Romance              -0.517655       1.517793
Comedy, Drama, Family               -0.851452       1.314613
Animation, Adventure, Comedy         1.040060       1.282299
Adventure, Drama, Romance            0.483733       1.280090
Drama, Music, Musical                0.706264       1.160502
Comedy, Romance                      1.373856       1.101084
Crime, Drama, Horror                -0.072594       1.036814

Mostro la top 10 dei generi secondo IMDB rating.

In [30]:
IMDB_Genre.sort_values(by=['IMDB_Rating_std'], ascending=False).head(10)

                              IMDB_Rating_std  avg_score_std
Genre
Adventure, Drama, Family             1.596387      -0.678157
Comedy, Romance                      1.373856       1.101084
Biography, Crime, Drama              1.262591       0.212304
Crime, Drama, Thriller               1.225502      -0.434759
Animation, Comedy, Drama             1.151325       0.110309
Animation, Adventure, Comedy         1.040060       1.282299
Drama, Family                        0.817529       0.954192
Animation, Adventure, Drama          0.817529       1.948457
Drama, Fantasy, Romance              0.817529       0.018460
Comedy, Family, Fantasy              0.817529      -0.119614

In [31]:
IMDB_Genre['mean_rating'] = (IMDB_Genre['IMDB_Rating_std'] + IMDB_Genre['avg_score_std'])/2

Mostro la top 10 dei generi secondo la media di entrambi gli indicatori

In [32]:
IMDB_Genre.sort_values(by=['mean_rating'], ascending=False).head(10)

                              IMDB_Rating_std  avg_score_std  mean_rating
Genre
Animation, Adventure, Drama          0.817529       1.948457     1.382993
Comedy, Romance                      1.373856       1.101084     1.237470
Adventure, Comedy, Fantasy           0.483733       1.878858     1.181296
Animation, Adventure, Comedy         1.040060       1.282299     1.161180
Drama, Music, Musical                0.706264       1.160502     0.933383
Drama, Family                        0.817529       0.954192     0.885861
Adventure, Drama, Romance            0.483733       1.280090     0.881911
Biography, Crime, Drama              1.262591       0.212304     0.737447
Animation, Comedy, Drama             1.151325       0.110309     0.630817
Comedy, Drama, Music                -1.073982       2.258776     0.592397

# Analisi della nazione di provenienza

Come si può vedere dalle analisi in basso e come immaginavamo negli Stati Uniti e nel Regno Unito vengono prodotte le serie tv generalmente più apprezzate.

Top 10 delle nazioni produttrici secondo la sentiment media dei tweet.

In [59]:
IMDB_Country = tweets.groupby('country')[['IMDB_Rating_std','avg_score_std']].mean()
IMDB_Country.sort_values(by=['avg_score_std'], ascending=False).head(10)

                                       IMDB_Rating_std  avg_score_std
country
Turkey                                       -0.295125       1.900401
United Kingdom, Canada, United States         1.040060       1.282299
Norway                                        0.149937       0.669998
United Kingdom, Spain                        -1.185248       0.526658
Spain                                         0.594998       0.398508
Austria, Germany                             -1.296513       0.377518
South Korea                                   0.817529       0.376801
Australia                                     0.520821       0.359152
France, United States                        -1.185248       0.353076
United States, Colombia, Mexico               1.262591       0.212304

Top 10 delle nazioni produttrici secondo IMDB rating.

In [60]:
IMDB_Country.sort_values(by=['IMDB_Rating_std'], ascending=False).head(10)

                                       IMDB_Rating_std  avg_score_std
country
United Kingdom, United States                 1.596387      -0.246244
Germany, United States                        1.262591      -0.054876
United States, Colombia, Mexico               1.262591       0.212304
India, United States                          1.040060      -0.119614
United Kingdom, Canada, United States         1.040060       1.282299
United States, Mexico                         0.928795      -0.119614
South Korea                                   0.817529       0.376801
Canada, United Kingdom                        0.706264      -2.316940
Japan                                         0.706264       0.134577
Denmark                                       0.706264       0.065074

Top 10 delle nazioni produttrici secondo la media dei due rating.

In [61]:
IMDB_Country['mean_rating'] = (IMDB_Country['IMDB_Rating_std'] + IMDB_Country['avg_score_std'])/2
IMDB_Country.sort_values(by=['mean_rating'], ascending=False).head(10)

,IMDB_Rating_std,avg_score_std,mean_rating
country,,,
"United Kingdom, Canada, United States",1.040060,1.282299,1.161180
Turkey,-0.295125,1.900401,0.802638
"United States, Colombia, Mexico",1.262591,0.212304,0.737447
"United Kingdom, United States",1.596387,-0.246244,0.675071
"Germany, United States",1.262591,-0.054876,0.603857
South Korea,0.817529,0.376801,0.597165
Spain,0.594998,0.398508,0.496753
"India, United States",1.040060,-0.119614,0.460223
Australia,0.520821,0.359152,0.439987
Japan,0.706264,0.134577,0.420420